## Lista de Exercícios - 004
### Francisco Romes da Silva Filho, 409976

### imports

In [245]:
import pandas as pd
import numpy as np

#### Implementação do KNN do Professor

## Distância euclidiana
A distância euclidiana entre os pontos $ P=(p_{1},p_{2},\dots ,p_{n})$ e $Q=(q_{1},q_{2},\dots ,q_{n})$ em um espaço euclidiano n-dimensional, é definida como:

$$ \sqrt{ (p_{1}-q_{1})^{2} + (p_{2}-q_{2})^{2} + \cdots +(p_{n}-q_{n})^{2} } = \sqrt {\sum _{i=1}^{n}(p_{i}-q_{i})^{2}} $$

In [47]:
def euclidean_distances(X, X_row):
    X_ = (X - X_row) ** 2
    return np.sum(X_, axis=1) ** 0.5

## Obtenção dos $k$ vizinhos mais próximos

In [48]:
def get_neighbors(X_train, test_row, k):
    distances = euclidean_distances(X_train, test_row)
    idx_sort = np.argsort(distances)
    return idx_sort[:k]

## Classsificação de uma nova linha dado um valor de $k$

In [49]:
def predict_classification(X, y, test_row, k):
    idx_sort = get_neighbors(X, test_row, k)
    output_values = y[idx_sort]
    counts = np.unique(output_values, return_counts=True)
    idx_max = np.argmax(counts[1])
    prediction = counts[0][idx_max]
    #print('idx_sort:{}, output_values:{}, prediction:{}'.format(idx_sort, output_values, prediction))
    return prediction

## 1. Resolver a classificação do Iris dataset para k=3 e k=5 com essas funções que implementamos no seguinte documento colab. Usando 70% dos dados para treino e 30% para teste. Ou seja: não é para usar a implementação do scikit para o kNN, nem o split_train_test do scikit.

##### Importando dataset Iris

In [50]:
iris = pd.read_csv('Iris.csv')

In [51]:
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [52]:
iris.replace('Iris-setosa', 0, inplace=True)
iris.replace('Iris-virginica', 1, inplace=True)
iris.replace('Iris-versicolor', 2, inplace=True)
iris.drop('Id', axis=True, inplace=True)
iris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              5.1           3.5            1.4           0.2        0
1              4.9           3.0            1.4           0.2        0
2              4.7           3.2            1.3           0.2        0
3              4.6           3.1            1.5           0.2        0
4              5.0           3.6            1.4           0.2        0
..             ...           ...            ...           ...      ...
145            6.7           3.0            5.2           2.3        1
146            6.3           2.5            5.0           1.9        1
147            6.5           3.0            5.2           2.0        1
148            6.2           3.4            5.4           2.3        1
149            5.9           3.0            5.1           1.8        1

[150 rows x 5 columns]

##### Usando 70% dos dados para treino e 30% para teste.

In [53]:
array_iris = iris.values
np.random.shuffle(array_iris)
treino, teste = np.split(array_iris, [int(.7 * len(array_iris))])

In [54]:
y_treino = treino[:,4:]
X_treino = np.delete(treino, 4, 1)

In [55]:
y_teste = teste[:,4:]
X_teste = np.delete(teste, 4, 1)

##### Modelo de Classificação

In [56]:
def classificacao(k, X_teste, X_treino, y_treino):
    pred = []
    for i in X_teste:
        pred.append(predict_classification(X_treino, y_treino, i, k))
        
    return pred

####  Resolver a classificação do Iris dataset para k = 3  e k = 5

In [57]:
k = 3
pred3 = classificacao(k, X_teste, X_treino, y_treino)
k = 5 
pred5 = classificacao(k, X_teste, X_treino, y_treino)
# e para efeitos de comparação 
k = 8
pred8 = classificacao(k, X_teste, X_treino, y_treino)

#### Função de cálculo de acurácia

In [58]:
def acuracia(pred, y_true):
    certos = 0
    count = 0
    for i, k in zip(pred, y_true):
        count += 1
        #print(count)
        #print("prev: ", i[1], " real: ", k)
        if(i == k):
            certos += 1
        
        #print("certos: ", certos)
    
    acu = certos/len(y_true)
    return acu

### Acurácia para o modelo com K = 3

In [62]:
print("Acurácia do modelo:", round(acuracia(pred3, y_teste) * 100, 2))

Acurácia do modelo: 93.33

### Acurácia para o modelo com K = 5

In [63]:
print("Acurácia do modelo:", round(acuracia(pred5, y_teste) * 100, 2))

Acurácia do modelo: 93.33

### Acurácia para o modelo com K = 8

In [64]:
print("Acurácia do modelo:", round(acuracia(pred8, y_teste) * 100, 2))

Acurácia do modelo: 95.56

## 2. O conjunto de dados de qualidade de vinho consiste na predição da qualidade de vinhos brancos sobre uma escala dada medições químicas de cada vinho. Baixe o conjunto de qualidade de vinho e faça o seguinte com ele em um Jupyter Notebook:

In [96]:
wine = pd.read_csv('winequality-white.csv', delimiter=';')

In [97]:
wine.head(25)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.70,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.60,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.90,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.50,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.50,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
5,8.1,0.28,0.40,6.90,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
6,6.2,0.32,0.16,7.00,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6
7,7.0,0.27,0.36,20.70,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
8,6.3,0.30,0.34,1.60,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
9,8.1,0.22,0.43,1.50,0.044,28.0,129.0,0.9938,3.22,0.45,11.0,6
10,8.1,0.27,0.41,1.45,0.033,11.0,63.0,0.9908,2.99,0.56,12.0,5
11,8.6,0.23,0.40,4.20,0.035,17.0,109.0,0.9947,3.14,0.53,9.7,5
12,7.9,0.18,0.37,1.20,0.040,16.0,75.0,0.9920,3.18,0.63,10.8,5
13,6.6,0.16,0.40,1.50,0.044,48.0,143.0,0.9912,3.54,0.52,12.4,7
14,8.3,0.42,0.62,19.25,0.040,41.0,172.0,1.0002,2.98,0.67,9.7,5
15,6.6,0.17,0.38,1.50,0.032,28.0,112.0,0.9914,3.25,0.55,11.4,7
16,6.3,0.48,0.04,1.10,0.046,30.0,99.0,0.9928,3.24,0.36,9.6,6
17,6.2,0.66,0.48,1.20,0.029,29.0,75.0,0.9892,3.33,0.39,12.8,8
18,7.4,0.34,0.42,1.10,0.033,17.0,171.0,0.9917,3.12,0.53,11.3,6
19,6.5,0.31,0.14,7.50,0.044,34.0,133.0,0.9955,3.22,0.50,9.5,5
20,6.2,0.66,0.48,1.20,0.029,29.0,75.0,0.9892,3.33,0.39,12.8,8
21,6.4,0.31,0.38,2.90,0.038,19.0,102.0,0.9912,3.17,0.35,11.0,7
22,6.8,0.26,0.42,1.70,0.049,41.0,122.0,0.9930,3.47,0.48,10.5,8
23,7.6,0.67,0.14,1.50,0.074,25.0,168.0,0.9937,3.05,0.51,9.3,5
24,6.6,0.27,0.41,1.30,0.052,16.0,142.0,0.9951,3.42,0.47,10.0,6

In [98]:
wine.shape

(4898, 12)

In [99]:
wine.corr()['quality']

fixed acidity          -0.113663
volatile acidity       -0.194723
citric acid            -0.009209
residual sugar         -0.097577
chlorides              -0.209934
free sulfur dioxide     0.008158
total sulfur dioxide   -0.174737
density                -0.307123
pH                      0.099427
sulphates               0.053678
alcohol                 0.435575
quality                 1.000000
Name: quality, dtype: float64

In [100]:
#  data = wine.drop(wine.columns.difference(["alcohol", "free sulfur dioxide", "pH", "sulphates","quality"]), 1)

### 2.1. Exiba a quantidade de amostras existente em cada classe de vinho, onde as classes são representadas por valores inteiros entre 0 e 10.

In [101]:
wine['quality'].value_counts()

6    2198
5    1457
7     880
8     175
4     163
3      20
9       5
Name: quality, dtype: int64

###  2.2. Separe 70% dos dados para treino (conjunto de treino) e 30% dos dados para teste (conjunto de teste).

In [105]:
# sem usar scikit-learn
array_wine = wine.values
np.random.shuffle(array_wine)
treino, teste = np.split(array_wine, [int(.7 * len(array_wine))])
y_treino = treino[:,11:]
X_treino = np.delete(treino, 11, 1)
y_teste = teste[:,11:]
X_teste = np.delete(teste, 11, 1)

### 2.3. Crie diferentes modelos de classificação de vinho usando o kNN com diferentes valores de k.

In [106]:
k = 1
pred1 = classificacao(k, X_teste, X_treino, y_treino)
k = 3
pred3 = classificacao(k, X_teste, X_treino, y_treino)
k = 5
pred5 = classificacao(k, X_teste, X_treino, y_treino)
k = 8
pred8 = classificacao(k, X_teste, X_treino, y_treino)
k = 10
pred10 = classificacao(k, X_teste, X_treino, y_treino)

###  2.4. Mostre os resultados de acurácia para os modelos criados. Qual o modelo com melhor acurácia?

#### Acurácia do Modelo com K = 1

In [108]:
acuracia(pred1, y_teste)

0.5727891156462585

##### Acurácia do Modelo com K = 3

In [109]:
acuracia(pred3, y_teste)

0.4748299319727891

##### Acurácia do Modelo com K = 5

In [110]:
acuracia(pred5, y_teste)

0.45850340136054424

##### Acurácia do Modelo com K = 8

In [111]:
acuracia(pred8, y_teste)

0.47006802721088436

##### Acurácia do Modelo com K = 10

In [112]:
acuracia(pred10, y_teste)

0.47346938775510206

### Entre os modelos observados o melhor é o modelo com k = 1

# E por curiosidade, agora, usando a biblioteca scikit-learn. 

### É o mesmo processo da 2ª questão, porém, usando a biblioteca. O exemplo é com K = 8 (que obteve um dos melhores resultados dos testados).

In [246]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [247]:
y = wine['quality']
X = wine.drop('quality', axis=True)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [248]:
knn_model = KNeighborsClassifier(n_neighbors=8, weights='distance')

In [249]:
knn_model.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=8, weights='distance')

In [250]:
knn_model.score(X_train, y_train)

1.0

In [251]:
knn_pred = knn_model.predict(X_test)

In [252]:
print(classification_report(y_test, knn_pred))

              precision    recall  f1-score   support

           3       0.33      0.14      0.20         7
           4       0.46      0.15      0.23        40
           5       0.58      0.60      0.59       426
           6       0.61      0.67      0.64       668
           7       0.54      0.47      0.51       280
           8       0.73      0.39      0.51        49

    accuracy                           0.59      1470
   macro avg       0.54      0.41      0.45      1470
weighted avg       0.59      0.59      0.58      1470

In [253]:
print("Acurácia do modelo:", round(accuracy_score(y_test, knn_pred) * 100, 2))

Acurácia do modelo: 58.91