## Lista de Exercícios - 005
### Francisco Romes da Silva Filho, 409976

### imports

In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error as mae
from sklearn import datasets

# 1. Altere nossa implementação de kNN para que ela possa calcular regressão. Dica: crie uma função predict_regression baseada na função predict_classification do documento notebook 02-Aula kNN.ipynb.

## Distância euclidiana
A distância euclidiana entre os pontos $ P=(p_{1},p_{2},\dots ,p_{n})$ e $Q=(q_{1},q_{2},\dots ,q_{n})$ em um espaço euclidiano n-dimensional, é definida como:

$$ \sqrt{ (p_{1}-q_{1})^{2} + (p_{2}-q_{2})^{2} + \cdots +(p_{n}-q_{n})^{2} } = \sqrt {\sum _{i=1}^{n}(p_{i}-q_{i})^{2}} $$

In [2]:
def euclidean_distances(X, X_row):
    X_ = (X - X_row) ** 2
    return np.sum(X_, axis=1) ** 0.5

## Obtenção dos $k$ vizinhos mais próximos

In [3]:
def get_neighbors(X_train, test_row, k):
    distances = euclidean_distances(X_train, test_row)
    idx_sort = np.argsort(distances)
    return idx_sort[:k]

## Regressão Linear (KNN): predição para uma linha dado um valor de $k$

In [28]:
def predict_regression(X_train, y, test_row, k):
    neighbors = get_neighbors(X_train, test_row, k)
    y_arr = [y[i] for i in neighbors]
    avg_y = np.average(y_arr)
    return avg_y

### KNN_Regressor

In [29]:
def regressao(k, X_teste, X_treino, y_treino):
    pred = []
    for i in X_teste:
        pred.append(predict_regression(X_treino, y_treino, i, k))
        
    return pred

# 2. Use os seguintes dados como dados de treino (X_treino) para o kNN, onde House Price Index é o nosso rótulo (label ou y_treino):

![Dados](dados-imagem.png)

In [30]:
array = [[25, 40000, 135], [35, 60000, 256], [45, 80000, 231], [20, 20000, 267], [35, 120000, 139], [52, 18000, 150], [23, 95000, 127], [40, 62000, 216], [60, 100000, 139], [48, 220000, 250], [33, 150000, 264]]

In [31]:
arr = np.array(array)

In [32]:
target = arr[:,-1]

In [33]:
feature_names = ['Age', 'Loan', 'House Price Index']

In [34]:
data = pd.DataFrame(arr,columns=feature_names)
data

    Age    Loan  House Price Index
0    25   40000                135
1    35   60000                256
2    45   80000                231
3    20   20000                267
4    35  120000                139
5    52   18000                150
6    23   95000                127
7    40   62000                216
8    60  100000                139
9    48  220000                250
10   33  150000                264

In [53]:
X_treino = data[['Age','Loan']]
X_treino

    Age    Loan
0    25   40000
1    35   60000
2    45   80000
3    20   20000
4    35  120000
5    52   18000
6    23   95000
7    40   62000
8    60  100000
9    48  220000
10   33  150000

In [36]:
y_treino = data['House Price Index']
y_treino

0     135
1     256
2     231
3     267
4     139
5     150
6     127
7     216
8     139
9     250
10    264
Name: House Price Index, dtype: int32

### a) Calcular o rótulo para quando Age = 42 e Loan = $142,000.

In [54]:
X_teste = [[42, 142000]]

In [55]:
pred = regressao(3, X_teste, X_treino, y_treino)
print(pred)

[180.66666666666666]

### b) Calcular o rótulo para quando Age = 30 e Loan = $50,000.

In [39]:
X_teste = [[30, 50000]]
X_teste

[[30, 50000]]

In [40]:
pred = regressao(3, X_teste, X_treino, y_treino)
print(pred)

[202.33333333333334]

# 3. O conjunto de dados de qualidade de vinho consiste na predição da qualidade de vinhos brancos sobre uma escala dada medições químicas de cada vinho. Baixe o conjunto de qualidade de vinho e faça o seguinte com ele em um Jupyter Notebook:

### 3.1. Separe 70% dos dados para treino (conjunto de treino) e 30% dos dados para teste (conjunto de teste).

In [56]:
wine = pd.read_csv('winequality-white.csv', delimiter=';')

In [57]:
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [58]:
y = wine['quality']
X = wine.drop('quality', axis=True)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)

In [59]:
X_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
627,7.0,0.32,0.24,6.2,0.048,31.0,228.0,0.99570,3.23,0.62,9.4
3493,6.0,0.28,0.27,15.5,0.036,31.0,134.0,0.99408,3.19,0.44,13.0
3831,6.8,0.31,0.19,3.5,0.086,30.0,130.0,0.99300,2.83,0.44,9.6
833,6.9,0.25,0.34,1.3,0.035,27.0,82.0,0.99045,3.18,0.44,12.2
963,6.1,0.19,0.25,4.0,0.023,23.0,112.0,0.99230,3.37,0.51,11.6
...,...,...,...,...,...,...,...,...,...,...,...
3216,7.2,0.13,0.46,1.3,0.044,48.0,111.0,0.99127,2.97,0.45,11.1
4421,6.6,0.22,0.23,17.3,0.047,37.0,118.0,0.99906,3.08,0.46,8.8
1144,7.2,0.25,0.32,1.5,0.047,27.0,132.0,0.99330,3.26,0.44,10.5
3480,6.5,0.30,0.27,4.0,0.038,37.0,97.0,0.99026,3.20,0.60,12.6
1554,7.9,0.42,0.49,8.2,0.056,32.0,164.0,0.99650,3.29,0.60,11.2

In [60]:
y_train

627     6
3493    7
3831    5
833     6
963     6
       ..
3216    5
4421    6
1144    5
3480    8
1554    7
Name: quality, Length: 3428, dtype: int64

### 3.2. Crie um modelo de regressão de qualidade de vinho usando o kNN para k=5.

In [61]:
k = 5
knn_model = KNeighborsRegressor(k)
knn_model

KNeighborsRegressor()

### 3.3. Use o modelo de regressão sobre X_test para calcular os valores preditos dos rótulos (y_pred).

In [62]:
knn_model.fit(X_train, y_train)
knn_pred = knn_model.predict(X_test)

In [63]:
knn_model.fit(X_train, y_train)

KNeighborsRegressor()

In [64]:
print('Avaliando o modelo com Mean Absolute Error (MAE): ', mae(y_test, knn_pred))

Avaliando o modelo com Mean Absolute Error (MAE):  0.6337414965986394